@import "./src/assets/styles/colors.scss";

.profile-about {
  min-height: 575px;
  padding: 0 19px;
  position: relative;
  .profile-about__heading {
    color: $color-font-secondary-light;
    font-size: 24px;
    letter-spacing: 1.2px;
    font-weight: normal;
    margin-bottom: 30px;
  }
  .profile-about__edit__btn, .profile-about__edit__content{
    display: none;
  }
  .profile-about__element--bold{
    font-weight: bold;
  }
  .show-edit[data-id="website"] .show-edit__icon svg{
    fill:$color-font-secondary-light
  }
}