<div class="profile-about">
    <h2 class="profile-about__heading">About</h2>
    <button st-click="editAbout()" data-component="ButtonComponent"
         class="button--svg button--inverse profile-about__edit__btn">
        <span data-component="IconComponent" data-icon="create"></span>
    </button>
    <div data-id="name" data-component="ShowEditComponent" class="profile-about__element--bold"></div>
    <div data-id="website" data-component="ShowEditComponent"></div>
    <div data-id="contact" data-component="ShowEditComponent" data-stroke="stroke"></div>
    <div data-id="address" data-component="ShowEditComponent" data-stroke="stroke"></div>
    <div data-id="edit" data-component="ProfileAboutEditComponent" class="profile-about__edit__content"></div>
</div>