@import "./src/assets/styles/colors.scss";

@media (max-width: $mobile-view) {
  .profile-about {
    min-height: 258px;
    padding: 0 19px;
    padding-top: 6px;
    .profile-about__heading {
      font-size: 19px;
      margin-bottom: 12px;
    }
    .profile-about__element--bold {
      font-weight: bold;
      margin-bottom: 7px;
    }
    .show-edit[data-id="website"] .show-edit__icon svg {
      fill: $color-font-secondary-light
    }
    .profile-about__edit__btn {
      display: block;
      position: absolute;
      top: 21px;
      right: 33px;
      z-index: 1;
      &.button.button--svg.button--inverse {
        padding: 3px 5px;
        .icon .icon__icon svg {
          width: 19px;
          height: 19px;
        }
      }
    }
    .profile-about__edit__content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
  }
}