@import "./src/assets/styles/colors.scss";

@media (max-width: $mobile-view) {
  .profile__bio {
    .profile__bio__name {
      text-align: center;
      font-size: 21px;
    }
    .icon-text[data-id="address"]{
      order: 2;
    }
    .icon-text[data-id="contact"]{
      order: 1;
    }
  }
}