.profile__bio{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-bottom: -10px;
  padding-bottom: 6px;
  .profile__bio__name{
    font-size: 24px;
    margin-bottom: 4px;
  }
  .icon-text{
    margin: 6px 0;
  }
}