<div class="profile__bio">
    <div data-id="name" class="profile__bio__name">Jessica Parker</div>
    <div data-id="address" data-component="IconTextComponent" data-icon="pin" data-stroke></div>
    <div data-id="contact" data-component="IconTextComponent" data-icon="call" data-stroke></div>
</div>