@import "./src/assets/styles/colors.scss";

@media (max-width: $mobile-view) {
  .show-edit {
    .show-edit__button {
      display: none;
    }
    .show-edit__text, .show-edit__icon {
      line-height: 36px;
      background-color: transparent;
      padding-right: 7px;
      padding-left: 2px;
    }
    .show-edit__text {
      padding-right: 0;
    }
    .show-edit__popup__buttons {
      display: flex;
      margin-top: 20px;
      .button {
        margin-right: 20px;
      }
    }
  }
}