@import "./src/assets/styles/colors.scss";

.show-edit{
  display: flex;
  position: relative;
  margin: 1px;
  .show-edit__button{
    position: relative;
    overflow: visible;
  }
  .show-edit__text,.show-edit__icon{
    line-height: 36px;
    background-color: $color-bg-primary;
    padding-right: 7px;
    padding-left: 4px;
    svg{
      width: 20px;
      height: 20px;
      margin-bottom: 2px;
    }
  }
  .show-edit__text{
    padding-right: 26px;
  }
  .show-edit__popup__buttons{
    display: flex;
    margin-top: 20px;
    .button{
      margin-right: 20px;
    }
  }
}