<div class="show-edit">
    <div data-id="icon" class="show-edit__icon" data-component="IconComponent"></div>
    <div data-id="text" class="show-edit__text"></div>
    <div class="show-edit__button">
        <button data-id="button" st-click="showPopup()" data-component="ButtonComponent"
             class="button--svg button--inverse">
            <span data-component="IconComponent" data-icon="create"></span>
        </button>
        <div data-id="popup" data-component="PopupDirective">
            <form data-id="form">
                <div data-id="input" data-component="InputDirective" data-value="" data-label=""></div>
                <div class="show-edit__popup__buttons">
                    <button data-id="btnSave" data-component="ButtonComponent" class="button--inverse" type="submit">Save</button>
                    <button data-id="btnCancel" data-component="ButtonComponent" class="button--default" type="reset">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
