@import "./src/assets/styles/colors.scss";
@import "./src/assets/styles/mixin.scss";

.tabs {
  .tabs__tab__content {
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    width: 0;
    height: 0;
    @include interface-transition(opacity);
    &.tabs__tab__content--active {
      width: 100%;
      height: auto;
      overflow: visible;
      pointer-events: auto;
      opacity: 1;
    }
  }
}