<div class="upload-button">
    <label class="upload-button__border">
        <span data-component="IconComponent" data-icon="camera"></span>
        <span class="upload-button__text"></span>
        <input class="upload-button__input" type="file">
    </label>
</div>