@import "./src/assets/styles/colors.scss";
@import "./src/assets/styles/mixin.scss";

.upload-button {
  position: absolute;
  left: 50%;
  top: 76px;
  width: 225px;
  transform: translateX(-50%);
  $color-upload-darken: darken($color-upload, 10%);
  .upload-button__border {
    display: flex;
    align-items: center;
    border: 1px solid $color-upload;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px 18px;;
    @include interface-transition(border-color);
    .icon__icon svg {
      width: 26px;
      height: 26px;
      @include interface-transition(fill);
      fill: $color-upload;
    }
    .upload-button__input {
      display: none;
    }
    .upload-button__text {
      margin-left: 18px;
      color: $color-font-secondary-light;
      font-size: 15px;
      @include interface-transition(color);
    }
    &:hover {
      border-color: $color-upload-darken;
      .icon__icon svg {
        fill: $color-upload-darken;
      }
      .upload-button__text {
        color: darken($color-font-secondary-light, 10%);
      }
    }
  }
}