@import "./src/assets/styles/colors.scss";

.follow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 122px;
  position: relative;
  .follow__count {
    margin-left: 14px;
  }
  .follow__popup {
    top: 50px;
    right: 0;
    left: auto;
  }
  .follow__icon {
    svg {
      width: 29px;
      height: 29px;
      fill: $color-font-secondary-light;
    }
  }
  .follow__text {
    color: $color-font-secondary;
    font-size: 14px;
    margin-left: 4px;
  }
}