<div data-id="follow" class="follow">
    <button st-click="changeTotal()" data-component="ButtonComponent"
            class="button--svg button--circle button--default">
        <span data-component="IconComponent" data-icon="addCircle" class="follow__icon"></span>
    </button>
    <span class="follow__count" data-id="total"></span>
    <span class="follow__text" data-id="text"></span>
    <div data-id="popup" class="follow__popup" data-component="PopupDirective"
          data-placement="top" data-behavior="mousemove">
        Followers
    </div>
</div>