@import "./src/assets/styles/colors.scss";

@media (max-width: $mobile-view) {
  .follow {
    align-items: center;
    justify-content: flex-start;
    padding-left: 17px;
    margin-top: 6px;
    .follow__count {
      margin-left: 4px;
    }
    .follow__text {
      color: $color-font-secondary;
      font-size: 14px;
      margin-left: 6px;
    }
  }
}