@import "./src/assets/styles/colors.scss";
@import "./src/assets/styles/mixin.scss";

.review {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 12px;
  .review__start-container{
    width: 142px;
  }
  .review__button {
    border: none;
    border-radius: 50%;
    padding: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    margin-right: 2px;
    svg {
      width: 20px;
      height: 20px;
      @include interface-transition(fill);
    }
    &:hover svg {
      fill: $color-font-primary;
    }
  }
  .review__count {
    margin-left: 11px;
    line-height: 24px;
    min-width: 24px;
    text-align: right;
  }
  .review__text {
    font-size: 12px;
    margin-left: 16px;
    line-height: 24px;
  }
}