@import "./src/assets/styles/colors.scss";

@media (max-width: $mobile-view) {
  .review {
    flex-direction: column;
    padding-top: 6px;
    .review__start-container{
      margin-left: -2px;
    }
    .review__button {
      margin-right: -2px;
      .icon__icon {
        svg {
          fill: $color-accent;
        }
        &.icon__icon--stroke {
          svg {
            fill: none;
            stroke: $color-accent;
          }
        }
      }
    }
    .review__total-container {
      margin-top: 6px;
    }
    .review__count {
      margin-left: 0;
    }
    .review__text {
      margin-left: 10px;
    }
  }
}
