<div class="review">
    <div class="review__start-container">
        <button st-click="setCurrent(1)" class="review__button"><span data-component="IconComponent"
                                                                      data-icon="star"></span></button>
        <button st-click="setCurrent(2)" class="review__button"><span data-component="IconComponent"
                                                                      data-icon="star"></span></button>
        <button st-click="setCurrent(3)" class="review__button"><span data-component="IconComponent"
                                                                      data-icon="star"></span></button>
        <button st-click="setCurrent(4)" class="review__button"><span data-component="IconComponent"
                                                                      data-icon="star"></span></button>
        <button st-click="setCurrent(5)" class="review__button"><span data-component="IconComponent"
                                                                      data-icon="star"></span></button>
    </div>
    <div class="review__total-container">
        <span class="review__count" data-id="total">6</span>
        <span class="review__text" data-id="text">Reviews</span>
    </div>
</div>