@import "./src/assets/styles/colors.scss";

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-bg-primary;
  z-index: 10000;
  display: none;
  .loader__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center center;
    .icon__icon svg {
      animation: rotate-loader 1s infinite;
      width: 32px;
      height: 32px;
    }
  }
  &.loader--show {
    display: block;
  }
  &.loader--show--fixed {
    position: fixed;
  }
  &.loader--show--absolute {
    position: absolute;
    opacity: 0.8;
  }
  @keyframes rotate-loader {
    from {
      transform: rotateZ(0)
    }
    to {
      transform: rotateZ(360deg)
    }
  }
}