@import "./src/assets/styles/colors.scss";

@media (max-width: $mobile-view) {
  .button {
    &:not(.button--svg) {
      &.button--default {
        border: none;
        background-color: transparent;
      }
    }
  }
}