@import "./src/assets/styles/colors.scss";
@import "./src/assets/styles/mixin.scss";

.button {
  outline: none;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-transform: uppercase;
  font-size: 12px;
  &:not(.button--svg) {
    border-radius: $border-radius;
    font-weight: bold;
    @include interface-transition(color, border-color);
    padding: 8px 21px;
    border: 1px solid $color-accent;
    &.button--default {
      background-color: $color-bg-secondary;
      color: $color-accent;
      &:hover {
        color: $color-bg-secondary;
        background-color: $color-accent;
      }
    }
    &.button--inverse {
      background-color: $color-accent;
      color: $color-bg-secondary;
      padding: 8px 32px;
      &:hover {
        background-color: darken($color-accent, 10%);
        border-color: darken($color-accent, 10%);
      }
    }
  }

  &.button--svg {
    background-color: transparent;
    border: none;
    &.button--circle {
      border-radius: 50%;
    }
    svg {

      @include interface-transition(fill);
    }
    &.button--inverse {
      background-color: $color-bg-primary-dark;
      padding: 8px;
      svg {
        width: 20px;
        height: 20px;
      }
      @include interface-transition(background-color);
    }
    padding: 0;
    &.button--primary:hover svg {
      fill: $color-accent;
    }
    &.button--inverse:hover {
      background-color: $color-accent;
      svg {
        fill: $color-bg-secondary;
      }
    }
    &.button--default:hover svg {
      fill: $color-font-primary;
    }
  }

}