@import "./src/assets/styles/colors.scss";
@import "./src/assets/styles/mixin.scss";

.material-input {
  position: relative;
  margin: 18px 0;
  .material-input__label {
    font-size: 16px;
    color: $color-font-secondary-light;
    text-transform: uppercase;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    transform-origin: left top;
    transform: translateY(6px) scale(1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    @include interface-transition(color,transform);
  }
  .material-input__input {
    color: $color-font-primary;
    margin-top: 15px;
    display: block;
    background: none;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 32px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    border-color: rgba(0,0,0,0.12);
    font-size: 16px;
    outline: none;
    @include interface-transition(border-color);
    &:focus + .material-input__label{
      color: $color-accent;
      transform: translateY(-18px) scale(0.75);
    }
    &:focus{
      border-color: $color-accent;
    }
  }
  &.material-input--has-value{
    .material-input__label{
      transform: translateY(-18px) scale(0.75);
    }
  }
}