@import "./src/assets/styles/colors.scss";
@import "./src/assets/styles/mixin.scss";

.popup{
  position: absolute;
  padding: 0;
  background-color: $color-bg-secondary;
  box-shadow: $shadow-popup;
  border-radius: $border-radius;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  width: 0;
  height: 0;
  top:-7px;
  left: 0;
  z-index: 1;
  @include interface-transition(opacity);
  &.popup--active {
    width: auto;
    height: auto;
    overflow: visible;
    pointer-events: auto;
    opacity: 1;
    padding: 20px;
  }
  .popup__arrow{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
  } &.left .popup__arrow{
    top: 14px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 11px solid white;
    left: -11px;
  }
  &.top .popup__arrow{
    top: -7px;
    border-top: 11px solid white;
    border-bottom: 11px solid transparent;
    border-right: 11px solid transparent;
    left: calc(50% - 11px);
    transform: rotateZ(45deg);
  }
}