<div class="profile-about-edit">
    <h2 class="profile-about-edit__heading">About</h2>
    <div class="profile-about-edit__buttons">
        <button st-click="cancel()" data-component="ButtonComponent" class="button--default profile-about-edit__buttons__cancel">Cancel</button>
        <button st-click="save()" data-component="ButtonComponent" class="button--default">Save</button>
    </div>
    <div data-id="firstName" data-component="InputDirective" data-value="John" data-label="First Name"></div>
    <div data-id="lastName" data-component="InputDirective" data-value="Doe" data-label="Last Name"></div>
    <div data-id="website" data-component="InputDirective" data-value="" data-label=""></div>
    <div data-id="contact" data-component="InputDirective" data-value="" data-label=""></div>
    <div data-id="address" data-component="InputDirective" data-value="" data-label=""></div>
</div>