@import "./src/assets/styles/colors.scss";

@media (max-width: $mobile-view) {
  .profile-about-edit {
    display: none;
    padding: 0 19px;
    background-color: $color-bg-secondary;
    padding-top: 6px;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 48px;
    &.profile-about-edit--show {
      display: flex;
    }
    .profile-about-edit__heading {
      color: $color-font-secondary-light;
      letter-spacing: 1.2px;
      font-weight: normal;
      font-size: 19px;
      margin-bottom: 18px;
    }
    .profile-about-edit__buttons {
      position: absolute;
      z-index: 3;
      top: 20px;
      right: 12px;
      .profile-about-edit__buttons__cancel.button:not(.button--svg) {
        padding: 8px 6px;
      }
    }
  }
}