@import "./src/assets/styles/colors.scss";

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;

  .row{
    margin-top: 36px;
    width: 100%;
    position: relative;
  }
}