@import "./src/assets/styles/colors.scss";

.icon-text {
  .icon-text__icon{
    .icon__icon svg{
      width: 20px;
      height: 20px;
    }
  }
  .icon-text__text {
    color: $color-font-primary;
    font-size: 14px;
    margin-left: 6px;
  }
}