@import "./src/assets/styles/colors.scss";

.icon {
  display: inline;
  .icon__icon {
    svg {
      vertical-align: middle;
      width: 24px;
      height: 24px;
      fill: $color-font-secondary;
    }
    &.icon__icon--stroke {
      svg {
        fill: none;
        stroke: $color-font-secondary;
        stroke-width: 16px;
      }
    }
  }

}