@import "./src/assets/styles/colors.scss";

@media (max-width: $mobile-view) {
  .tabs {
    overflow-y: auto;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .tabs__tabs {
      flex-wrap: nowrap;
      .tabs__tab:first-child {
        margin-left: 8px;
      }
    }
  }
}
