@import "./src/assets/styles/colors.scss";

.tabs {
  width: 100%;
  position: relative;
  .tabs__tabs {
    display: flex;
    align-items: center;
    //justify-content: space-between;
    overflow: visible;
    height: 59px;
    .tabs_tab--hide {
      display: none;
    }
  }
  .tabs__show-more {
    overflow: visible;
    position: relative;
    &.tabs__show-more--hide {
      display: none;
    }
  }
  .tabs__show-more_popup {
    left: -46px;
    top: 45px;
    .tabs__tab .tabs__tab__button {
      padding: 0;
      padding-left: 4px;
      margin: 6px 14px;
      border-left: 2px solid transparent;
      &:hover {
        border-bottom-color: transparent;
        border-left-color: $color-accent;
      }
    }
    .tabs__tab.tabs__tab--active .tabs__tab__button{
      border-bottom-color: transparent;
      border-left-color: $color-accent;
    }
  }
}