<div class="tabs">
    <div data-id="tabsContainer" class="tabs__tabs">
        <div data-id="showMoreContainer" class="tabs__tab tabs__show-more">
            <button st-click="showMoreMenu()" data-id="showMore" data-component="ButtonComponent"
                    class="tabs__tab__button ">
                ...
            </button>
            <div data-id="popup" class="tabs__show-more_popup" data-component="PopupDirective"
                 data-placement="top"></div>
        </div>
    </div>
    <div class="tabs__content"></div>
</div>
