@import "./src/assets/styles/colors.scss";

@media (max-width: $mobile-view) {
  .panel {
    background-color: $color-bg-primary;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }
}
