@import "./src/assets/styles/colors.scss";

.panel {
  min-height: 10px;
  min-width: 10px;
  background-color: $color-bg-secondary;
  max-width: 1170px;
  width: 100%;
  box-shadow: $shadow-panel;
  border-radius: $border-radius;
}

@media (max-width: 767px) {
  .panel {
    background-color: red;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }
}
