@import "./src/assets/styles/colors.scss";

@media (max-width: $mobile-view) {
  .profile__avatar {
    position: absolute;
    left: 50%;
    top: 76px;
    bottom: auto;
    transform: translateX(-50%);
    pointer-events: none;
    .img {
      height: 126px;
      width: 126px;
    }
  }
}
