@import "./src/assets/styles/colors.scss";

.profile__avatar {
  position: absolute;
  left: 20px;
  bottom: 22px;
  .img {
    height: 170px;
    width: 170px;
    background-image: url("../../../../../assets/images/profile_image.jpg");
    background-position: 65% top;
    box-shadow: $shadow-avatar;
  }
}