$color-bg-primary: #f5f8f9;
$color-bg-primary-dark: #ecf1f5;
$color-bg-secondary: #fff;
$color-accent: #007ee5;

$color-upload: #d0dce7;

$color-font-primary: #3f454a;
$color-font-secondary: #727e88;
$color-font-secondary-light: #a6b0b7;

$shadow-panel: 0 1px 6px 0 rgba($color-font-secondary,0.28);
$shadow-popup:  0 0 25px #bdc4c9;
$shadow-avatar:  0 0 20px #bdc4c9;
$border-radius: 3px;

$mobile-view : 767px;