@import "./colors.scss";

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: $color-bg-primary;
}

.hidden{
  display: none !important;
}