@import "./src/assets/styles/colors.scss";

@media (max-width: $mobile-view) {
  .tabs {
    .tabs__tab {
      .tabs__tab__button {
        padding-top: 21px;
        padding-bottom: 14px;
        margin: 0 12px;
      }
    }
  }
}
