@import "./src/assets/styles/colors.scss";
@import "./src/assets/styles/mixin.scss";

.tabs {
  .tabs__tab {
    .tabs__tab__button {
      outline: none;
      cursor: pointer;
      background-color: transparent;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance:none;
      color: $color-font-primary;
      border: none;
      border-bottom: 2px solid transparent;
      text-transform: uppercase;
      padding: 24px 0;
      margin: 0 14px;
      padding-bottom: 18px;
      @include interface-transition(border-bottom-color);
      &:hover {
        border-bottom-color: $color-accent;
      }
    }
    &.tabs__tab--active .tabs__tab__button{
      border-bottom-color: $color-accent;
    }
  }
}