@import "./src/assets/styles/colors.scss";

@media (max-width: $mobile-view) {
  .profile {
    .profile__header {
      .profile__header__panel {
        padding-top: 210px;
      }
      .upload-button {
        position: absolute;
        left: 50%;
        top: 76px;
        bottom: auto;
        height: 124px;
        width: 124px;
        transform: translateX(-50%);
        .upload-button__border {
          height: 100%;
          padding: 0;
        }
      }
      .profile__header__logout {
        top: 20px;
        right: 10px;
      }
      .profile__bio {
        padding-left: 0;
      }
      .profile__header__row {
        display: flex;
        flex-direction: column;
      }

      .profile__header__row__tabs {
        &.panel {
          display: flex;
          max-width: none;
          margin-top: 8px;
        }
        .tabs {
          padding-left: 0;
          order: 2;
          margin-top: 19px;
          background-color: $color-bg-secondary;
          box-shadow: $shadow-panel;
        }
        .follow {
          margin-right: 0;
          order: 1;
        }
      }
      .tabs-info {
        margin-top: 14px;
        padding: 0;
        background-color: $color-bg-secondary;
        border-top: 1px solid $color-upload;
        border-bottom: 1px solid $color-upload;
        min-height: 430px;
      }
    }
  }
}
