@import "./src/assets/styles/colors.scss";

.profile {
  .profile__header {
    max-width: 1170px;
    width: 100%;
    .profile__header__panel {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 22px;
      padding-bottom: 0;
      width: auto;
      box-shadow: none;
      padding-top: 133px;
    }
    .profile__header__logout {
      position: absolute;
      top: 24px;
      right: 20px;

    }
    .profile__header__panel__logout-popup {
      top: 60px;
      right: 0;
      left: auto;
    }
    .profile__bio {
      padding-left: 193px;
    }
    .profile__header__row {
      display: flex;
      &.profile__header__row--flex-end {
        justify-content: flex-end;
      }
      &.profile__header__row--space-between {
        justify-content: space-between;
      }
      &.profile__header__row--full-width {
        width: calc(100% + 44px);
        margin: 0 -22px;
      }
    }

    .profile__header__row__tabs {
      &.panel {
        display: flex;
        max-width: none;
        margin-top: 8px;
      }
      .tabs {
        padding-left: 208px;
      }
      .follow {
        margin-right: 22px;
      }
    }
    .tabs-info {
      margin-top: 36px;
      padding: 22px;
      position: relative;
      width: auto;
    }
  }
}