<div class="profile__header">
    <div class="panel profile__header__panel">
        <div data-component="UploadButtonComponent" data-text="Upload Cover Image"></div>
        <button st-click="logout()" data-id="logoutBtn" data-component="ButtonComponent" class="button--default profile__header__logout">log out

        </button>
        <span data-id="popup" class="profile__header__panel__logout-popup" data-component="PopupDirective" data-placement="top">
                Are you sure?
        </span>
        <div data-component="ProfileAvatarComponent"></div>
        <div class="profile__header__row profile__header__row--space-between">
            <div data-component="ProfileBioComponent"></div>
            <div data-component="ReviewComponent"></div>
        </div>
        <div class="profile__header__row profile__header__row--full-width profile__header__row__tabs panel">
            <div data-component="TabsComponent">
                <div data-component="TabComponent">
                    ABOUT
                </div>
                <div data-component="TabComponent">
                    SETTINGS
                </div>
                <div data-component="TabComponent">
                    OPTION1
                </div>
                <div data-component="TabComponent">
                    OPTION2
                </div>
                <div data-component="TabComponent">
                    OPTION3
                </div>
                <div data-component="TabComponent">
                    OPTION4
                </div>
                <div data-component="TabComponent">
                    OPTION5
                </div>
                <div data-component="TabComponent">
                    OPTION6
                </div>
            </div>
            <div data-component="FollowComponent"></div>
        </div>
    </div>
    <div class="tabs tabs-info panel">
        <div data-component="TabContentComponent">
            <div data-component="ProfileAboutComponent"></div>
        </div>
        <div data-component="TabContentComponent">
            SETTINGS
        </div>
        <div data-component="TabContentComponent">
            OPTION1
        </div>
        <div data-component="TabContentComponent">
            OPTION2
        </div>
        <div data-component="TabContentComponent">
            OPTION3
        </div>
        <div data-component="TabContentComponent">
            OPTION4
        </div>
        <div data-component="TabContentComponent">
            OPTION5
        </div>
        <div data-component="TabContentComponent">
            OPTION6
        </div>
    </div>

</div>
